In [13]:
import os
import pandas as pd
import numpy as np
import torch
import torchvision
import shutil
np.random.seed(123)

In [2]:
dataset_path = os.path.join("database","aligned_images_DB")
actors = os.listdir(dataset_path)
actors_dict = dict()

for actor in actors:
    actors_dict[actor] = len(os.listdir(os.path.join(dataset_path,actor)))

df = pd.DataFrame(actors_dict.items(),columns=['Actor','n_videos'])
df.head()

                 Actor  n_videos
0          Evo_Morales         3
1         Sanjay_Gupta         3
2  Rodrigo_de_la_Cerna         2
3      Lionel_Chalmers         1
4       Emma_Nicholson         3

In [3]:
df = df.sort_values(by='n_videos',ascending=False)
df.head(10)

                    Actor  n_videos
532   Robert_F_Kennedy_Jr         6
1354         Kevin_Spacey         6
946           David_Brent         6
592         Alison_Lohman         6
1039       Andrew_Bernard         6
1066      Robert_Nardelli         6
54            Alma_Powell         6
330         Lauren_Hutton         6
879          Angelo_Reyes         4
917         Agbani_Darego         4

In [4]:
filtered_actors = df[df['n_videos'] == 5]
filtered_actors.count()

Actor       0
n_videos    0
dtype: int64

In [5]:
filtered_actors.head(10)

Empty DataFrame
Columns: [Actor, n_videos]
Index: []

In [6]:
filtered_actors.count()

Actor       51
n_videos    51
dtype: int64

In [6]:
for actor in filtered_actors['Actor']:
    actor_path = os.path.join(dataset_path,actor)
    shutil.move(actor_path,os.path.join('filtered_database',actor))

In [7]:
dataset = torchvision.datasets.ImageFolder("filtered_database")
dataset

Dataset ImageFolder
    Number of datapoints: 60191
    Root location: filtered_database

In [8]:
dataset_subset = torch.utils.data.Subset(dataset, np.random.choice(len(dataset), 30*51, replace=False))

dataset_subset

In [17]:
number_of_frames = 100
split = 0.2
test_split = int(number_of_frames * split)
train_split = number_of_frames - test_split

for actor in os.listdir("filtered_database"):
    actor_frames = []
    test_frames = []
    for i,video in enumerate(os.listdir(os.path.join("filtered_database",actor))):
        if i != 4:
            current_video = [os.path.join("filtered_database",actor,video,f) for f in os.listdir(os.path.join("filtered_database",actor,video))]
            actor_frames = actor_frames + current_video
        else:
            test_video = [os.path.join("filtered_database",actor,video,f) for f in os.listdir(os.path.join("filtered_database",actor,video))]
            np.random.shuffle(test_video)
            test_frames = test_video[0:test_split]

    np.random.shuffle(actor_frames)
    train_frames = actor_frames[0:train_split]
    
    train_path = os.path.join("new_dataset","train",actor) 
    test_path = os.path.join("new_dataset","test",actor)
    os.makedirs(train_path,exist_ok=True)
    os.makedirs(test_path,exist_ok=True)
    
    for frame in train_frames:
        filename = os.path.basename(frame)
        
        shutil.copyfile(frame, os.path.join(train_path,filename))
    
    for frame in test_frames:
        filename = os.path.basename(frame)
        
        shutil.copyfile(frame, os.path.join(test_path,filename))